*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
documentation/SRS/SRS.synctex.gz
documentation/SRS/SRS.log
documentation/SRS/SRS.aux
documentation/SRS/SRS.dvi
documentation/SVVS/svvs.aux
documentation/SVVS/svvs.log
documentation/SVVS/svvs.synctex.gz
documentation/SRS/SRS.bbl
documentation/SRS/SRS.blg
documentation/SVVS/svvs - gransking 1.aux
documentation/SVVS/svvs - gransking 1.log
documentation/SRS/.DS_Store
.DS_Store


